<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-button (click)="notificacionSimple()" fill="clear">Mostrar Notificación simple</ion-button>
  <ion-button (click)="notificacionAvanzada()" fill="clear">Mostrar Notificación avanzada</ion-button>

</ion-content>
